$primaryColour: #111626;
$secondaryColour: #F2561D;
$red: #F21628;
$green: #0DD954;
$indigo: #7654BF;
$buttonMain: #02A9E8;
$buttonSecondary: #f7fafc;
$buttonMainShadow: rgba(2, 169, 232, .4);
$buttonSecondaryShadow: rgba(247, 250, 252, .4);
$primaryColourLight: lighten($primaryColour, 15%);
$secondaryColourLight: lighten($secondaryColour, 15%);
$redLight: lighten($red, 15%);
$greenLight: lighten($green, 15%);
$indigoLight: lighten($indigo, 15%);
$buttonMainLight: lighten($buttonMain, 5%);
$buttonSecondaryLight: lighten($buttonSecondary, 5%);
$primaryColourDark: darken($primaryColour, 15%);
$secondaryColourDark: darken($secondaryColour, 15%);
