$primaryColour: #111626;
$primaryColourOverlay: #84878D;
$orange: #F2561D;
$red: #F21628;
$green: #0DD954;
$indigo: #7654BF;
$buttonMain: #02A9E8;
$buttonSecondary: #f7fafc;
$buttonMainShadow: rgba(2, 169, 232, .4);
$buttonSecondaryShadow: rgba(247, 250, 252, .4);
$primaryGradient: rgba(17, 22, 38, .8);
$secondaryGradient: rgba(26, 24, 61, .8);
$primaryColourLight: lighten($primaryColour, 15%);
$orangeLight: lighten($orange, 15%);
$redLight: lighten($red, 15%);
$greenLight: lighten($green, 15%);
$indigoLight: lighten($indigo, 15%);
$buttonMainLight: lighten($buttonMain, 5%);
$buttonSecondaryLight: lighten($buttonSecondary, 5%);
$primaryColourDark: darken($primaryColour, 15%);
$orangeDark: darken($orange, 15%);
$greenDark: darken($green, 15%);
$redDark: darken($red, 15%);
$trial: #2EAFF2;
