$primaryColour: #111626;
$secondaryColour: #F2561D;
$red: #F21628;
$green: #F2561D;
$indigo: #7654BF;
$primaryColourLight: lighten($primaryColour, 15%);
$secondaryColourLight: lighten($secondaryColour, 15%);
$redLight: lighten($red, 15%);
$greenLight: lighten($green, 15%);
$indigoLight: lighten($indigo, 15%);