@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import "Variables.Scss";

body {
  margin: 0;
  font-family: $bodyFontFamily;
}

h1 {
  font-family: $headerFontFamily;
}

h2 {
  font-family: $headerFontFamily;
    letter-spacing: 2px;
    font-size: $largeFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  line-height: 1.5;
  padding: 0 5vw; 
}

