$baseRadius: 2px;
$basePadding: 15px 40px;
$smallestFont: 10px;
$smallFont: 12px;
$regularFont: 14px;
$largeFont: 20px;
$largestFont: 24px;
$bannerFont: 26px;
$bannerCompanyFont: 3em;
$fullWidth: '100%';
$bodyFontFamily:'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$headerFontFamily:'Bebas Neue','Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
