@import 'Colours.scss';
@import 'Variables.scss';

button {
  border: none;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  font-size: $regularFont;
  padding: 15px 40px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  color: white;
}
#main {
  background-color: $buttonMain;
  &:hover {
    background-color: $buttonMainLight;
    box-shadow: 0 5px 15px $buttonMainShadow;
  }
}
#secondary {
  background-color: $orange;
  &:hover {
    background-color: $orangeLight;
    box-shadow: 0 5px 15px $orangeShadow;
  }
}
