@import 'Colours.scss';
@import 'Variables.scss';

.feedbackItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  padding-bottom: 7vh;
  position: relative;
  background-color: $cream;
  border-radius: $baseRadius;
  -webkit-box-shadow: inset 0px 0px 25px -2px rgba(17,22,38,0.75); 
  box-shadow: inset 0px 0px 25px -2px rgba(17,22,38,0.75);
}

.feedbackHeader{
  font-family: $headerFontFamily;
  border-bottom: 1px solid $orange;
}

.avatarContainer {
  border-top: 1px solid $orange;
  padding-top: 5vh;
  display:flex;
  width: 6vw;
  justify-content: center;
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
    flex-grow: 0;
    width: 50%;
  }
}
