@import "Colours.scss";

.spacer{
  margin-bottom: 5vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: $buttonSecondary;
  background-color: $primaryColour;
  border-top: 1px solid $buttonMain;
}

.footer > * {
  flex:  1 100%;
}

.footerAddress {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footerAddress h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.navTitle {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: $buttonSecondary;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footerNav {
  display: flex;
	flex-flow: row wrap;
}

.footerNav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.navList a {
  color: $buttonSecondary;
  opacity:0.8;
  &:hover{
    opacity: 1;  
  }
}

.navList--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: $buttonSecondary;
}

@media screen and (min-width: 40.375em) {
  .footerNav > * {
    flex: 1;
  }
  
  .navItem--extra {
    flex-grow: 2;
  }
  
  .footerAddress {
    flex: 1 0px;
  }
  
  .footerNav {
    flex: 2 0px;
  }
}