@import 'Colours.scss';
@import 'Variables.scss';

.gameArea{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $primaryGradient;
  padding: 4vh 4vw;
  margin: 5vh 6vw;
}

.filtersArea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryGradient;
}

.filter{
  display: flex;
  flex-direction: column;
}

.search{
  display: flex;
}

.sortButtons{
  display: flex;
}
.sortButton{
  border-radius: 0;
}

