@import 'Colours.scss';
@import 'Variables.scss';

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.banner {
  min-height: 75vh;
  background-image: 
  linear-gradient(to right bottom, 
   $primaryGradient,
   $secondaryGradient),
   url('../Assets/slots.jpg');
background-size: cover;
  background-position: center;
  position: relative;
}

.textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bannerHeaders {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3vh;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.bannerCompanyText {
  display: block;
  font-size: $bannerCompanyFont;
  font-weight: 400;
  letter-spacing: 5px;
  border-bottom: 1px solid $orange;
  margin-bottom: 4vh;
}

.bannerPrimaryText {
  display: block;
  font-size: $bannerFont;
  font-weight: 400;
  letter-spacing: 5px;
}

.bannerSecondaryText {
  display: block;
  font-size: $largeFont;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.landingPageSection{
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  text-align: center;
  border-bottom: 1px solid $orange;
  border-top: 1px solid $orange;
  background-image: 
  linear-gradient(to right bottom, 
   $subSectionGradient,
   $subSectionGradient),
   url('../Assets/oriental-tiles.png');
   padding-bottom: 3vh;
}

.feedbackArea{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $primaryGradient;
  padding: 15vh 2vw;
}

