@import 'Colours.scss';
@import 'Variables.scss';

.root{
  background-color: $primaryColour;
  height:100%;
  background-image:
  linear-gradient(to right bottom, 
  $primaryGradient,
  $secondaryGradient),
  url('../Assets/background-image.png');
}

.topNav{
  background-color: $primaryColour;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.weatherBar{
  width:100%;
  background-color: $buttonMain;
  border-bottom: 1px solid $orange;
  display: flex;
  flex-direction: row;
  font-size: $smallFont;
  color: #fff;
  justify-content: space-between;
}
.weatherBar p{
  font-family: $headerFontFamily;
  font-size: $regularFont;
  justify-content: flex-start;
  font-size: 14px;
  padding: 0 1vw;
}

.title{
  font-family: $headerFontFamily;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  font-size: 2em;
}
