@import 'Colours.scss';
@import 'Variables.scss';

.linkItem {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: $baseRadius;
    background-color: $buttonMain;
      &:hover{
        box-shadow: 0 3px 8px $buttonMainShadow;
      }
}

.bannerItem {
  padding: 10px 15px;
  background-color: $orange;
  border-radius: $baseRadius;
  &:hover{
    box-shadow: 0 3px 8px $orange;
  }
}

.linkText {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
