@import 'Colours.scss';
@import 'Variables.scss';

.buttonPair{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5;
  padding-bottom: 5;
}
input[type="text"],
input[type="password"],
input[type="email"] {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 10px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="email"]:focus{
	background: #d2d9dd;
}
label {
  font-family: $headerFontFamily;
  padding-bottom: 3;
}
.errorMessage {
  color: $red;
  font-size: $smallestFont;
	margin-bottom: 20px;
}
