@import 'Colours.scss';
@import 'Variables.scss';

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loginPage{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 8vh 9vw;
  background-image: 
  linear-gradient(to right bottom, 
   $subSectionGradient,
   $subSectionGradient),
   url('../Assets/oriental-tiles.png');
}

.formContainer{
  border-radius: $baseRadius;
  background-color: $white;
  padding: 2vh 3vw .1vh 3vw;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  min-width: 20vw;
  -webkit-box-shadow: inset 0px 0px 25px -2px rgba(17,22,38,0.75); 
  box-shadow: inset 0px 0px 25px -2px rgba(17,22,38,0.75);
  form{
    border-radius: $baseRadius;
    padding: 1vh;
  }
  h1{
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 6vh;
  }
}

