@import 'Colours.scss';
@import 'Variables.scss';

.weatherContainer {
  display: flex;
  flex-direction: row;
  font-size: $smallFont;
  color: #fff;
}

.imageContainer {
  display:flex;
  width: 6vw;
  justify-content: center;
  .weatherIcon {
    vertical-align: middle;
    border-radius: 50%;
    flex-grow: 0;
    width: 50%;
  }
}