@import 'Colours.scss';
@import 'Variables.scss';

.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: $baseRadius;
  border-style: none;
  font-size: $smallFont;
  padding: 0 5px;
  background-color: $secondaryColour;
  width:10vw
}
.weatherIcon {
  vertical-align: middle;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  flex-grow: 0;
}
.topContainer{
  display:flex;
  height: 80%;
  .imageContainer {
    display:flex;
  }
}
.temperature{
  align-self: center;
  text-align: center;
  font-size: $largestFont;
}
.uv{
  display:flex;
  font-size: $smallFont;
  align-self: center;
  text-align: center;
  padding-bottom: 3px;
  height: 20%;
}
