@import 'Colours.scss';
@import 'Variables.scss';

.weatherContainer {
  display: flex;
  flex-direction: row;
  border: none;
  border-style: none;
  font-size: $smallFont;
  background-color: $red;
}
.imageContainer {
  display:flex;
  width: 6vw;
  justify-content: center;
  .weatherIcon {
    vertical-align: middle;
    border-radius: 50%;
    flex-grow: 0;
    width: 50%;
  }
}
.weatherDetails{
  width: 6vw;
  justify-content: center;
  align-self: center;
  font-size: $regularFont;
}